<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hello World!</title>
  <link rel="stylesheet" href="dist/hello-world.css">
</head>

<body>
  <%- include('includes/hello-world'); %>

  <script src="dist/main.bundle.js"></script>
</body>

</html>